/*---------------
	   FONTS
----------------*/
body {
  font-family: 'Noticia Text', serif;
  font-weight: 900; }

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

main {
  padding-top: 8px;
  width: 100%;
  z-index: 2;
  height: 665px;
  background: url("../img/background2.jpg") no-repeat;
  background-size: cover; }

/*-------------------
       HAMBURGER 
--------------------*/
.hamburger {
  cursor: pointer;
  padding-left: 1.25em;
  float: right;
  margin-right: 30px;
  position: relative;
  width: 40px;
  height: 40px; }

.menu-global {
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  background: #f35f5f;
  display: block; }

.menu-top {
  top: 0;
  transition-property: top, transform;
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0.4s, 0s; }

.menu-middle {
  top: 14px;
  transition: opacity 0.4s ease-out 0s; }

.menu-bottom {
  bottom: 6px;
  transition-property: bottom, transform;
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0.4s, 0s; }

.menu-top-click {
  top: 14px;
  transform: rotate(45deg);
  transition-property: top, transform;
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0s, 0.4s; }

.menu-middle-click {
  opacity: 0;
  transition: opacity 0.4s ease-out 0s; }

.menu-bottom-click {
  bottom: 20px;
  transform: rotate(-45deg);
  transition-property: bottom, transform;
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0s, 0.4s; }

/*-------------------
       NAVIGATION 
--------------------*/
.hamburger {
  display: none; }

nav {
  height: 85px;
  padding-top: 20px;
  background: #fbfd46;
  z-index: 4; }
  nav .inner {
    display: table;
    margin: auto;
    z-index: 50; }

.inner_main {
  width: 920px;
  display: table;
  margin: auto;
  margin-bottom: 265px; }

.fingers_captures a {
  color: #fff;
  font-size: 22px;
  padding: 18px 0; }

.intelligence,
.awareness,
.mind,
.body,
.consciousness {
  z-index: 10; }

.intelligence {
  display: table;
  margin: auto;
  position: relative; }
  .intelligence a:nth-child(1) {
    position: relative;
    right: 10px; }
  .intelligence img {
    display: table;
    margin: auto;
    margin-top: 13px; }

.awareness {
  float: left;
  position: relative;
  left: 17px;
  bottom: 30px; }
  .awareness a:nth-child(2) {
    display: inline-block;
    padding: 20px 20px; }
    .awareness a:nth-child(2) img {
      margin: auto; }

.mind {
  float: right;
  margin-bottom: 20px;
  position: relative;
  right: 114px;
  bottom: 32px; }
  .mind a:nth-child(1) {
    display: inline-block;
    padding: 20px 20px; }
    .mind a:nth-child(1) img {
      margin: auto; }

.consciousness {
  clear: both;
  float: left;
  position: relative;
  right: 53px;
  bottom: 2px; }
  .consciousness a:nth-child(2) {
    display: inline-block;
    padding: 20px 20px; }
    .consciousness a:nth-child(2) img {
      margin: auto; }

.body {
  float: right;
  position: relative;
  right: 59px;
  bottom: 64px; }
  .body a:nth-child(1) {
    display: inline-block;
    padding: 20px 20px; }
    .body a:nth-child(1) img {
      margin: auto; }

.hand {
  display: table;
  margin: auto;
  position: relative;
  bottom: 534px; }

.all_the_media {
  color: #fff;
  line-height: 25px;
  text-align: center;
  font-size: 20px;
  width: 563px;
  display: table;
  margin: auto;
  font-style: italic;
  position: relative; }

.fa {
  padding: 18px 13px;
  cursor: pointer; }

#cssmenu ul {
  margin-bottom: 0; }

#cssmenu > ul > li {
  color: #f35f5f;
  list-style: inside none;
  float: left;
  display: inline-block;
  position: relative;
  margin-right: 20px; }
  #cssmenu > ul > li:nth-child(7), #cssmenu > ul > li:nth-child(8), #cssmenu > ul > li:nth-child(9) {
    margin-right: 30px; }

#cssmenu > ul > li > a {
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #f35f5f;
  padding: 12px 0px 12px 0px; }

#cssmenu ul li > ul {
  display: none;
  position: absolute;
  top: 45px;
  left: -20px;
  background: #fbfd46;
  border: 1px solid #adadad;
  border-radius: 3px;
  z-index: 999;
  padding: 12px 0;
  text-transform: uppercase; }

#cssmenu ul li > ul {
  white-space: nowrap; }

#cssmenu ul li > ul li {
  list-style: inside none; }

#cssmenu ul li > ul li a {
  outline: none;
  display: block;
  color: #f35f5f;
  font-size: 18px;
  padding: 8px 20px; }

#cssmenu ul li li a:hover {
  background: #E6E6E6; }

#cssmenu > ul > li > a {
  float: left; }

/*---------------------------------
	MEDIA QUIRIES FOR ADAPTIVITY
---------------------------------*/
@media (max-width: 1380px) {
  main {
    background: url("../img/backg_1366.jpg") no-repeat; }

  .hand {
    right: 3px; }

  .all_the_media {
    position: relative;
    bottom: 4px;
    right: 25px; } }
@media (max-width: 1290px) {
  main {
    background: url("../img/backg_1280.jpg") no-repeat; } }
@media (min-width: 1260px) {
  #cssmenu ul li.has-sub:hover > ul,
  #cssmenu ul li.has-sub:hover > div {
    display: block; }

  .fa {
    pointer-events: none; } }
@media (max-width: 1260px) {
  #cssmenu > ul > li > a:last-child {
    float: none; }

  .hamburger {
    display: block; }

  #cssmenu {
    width: 370px; }
    #cssmenu ul {
      padding-left: 0; }

  .inner {
    margin-top: 65px !important;
    position: absolute;
    border-top: 1px solid #ccc;
    left: -400px;
    text-align: left;
    background: #fbfd46;
    -moz-transition: left ease .7s;
    transition: left ease .7s; }

  #cssmenu > ul > li {
    float: none;
    display: block;
    padding: 0 25px;
    margin-right: 0px; }
    #cssmenu > ul > li a {
      text-align: left; }

  #cssmenu ul li > ul {
    position: static;
    border: none; }
    #cssmenu ul li > ul li a {
      padding-left: 35px; } }
@media (max-width: 1040px) {
  .inner_main {
    margin-left: 68px; }

  .hand {
    bottom: 534px;
    left: 21px; }

  .all_the_media {
    position: relative;
    left: 95px; } }
@media (max-width: 390px) {
  #cssmenu > ul > li {
    padding: 0 20px; }

  #cssmenu {
    width: 375px; } }
@media (max-width: 350px) {
  #cssmenu ul li > ul li a {
    padding-left: 20px; } }

/*# sourceMappingURL=style.css.map */
